/* ----------------- */

/* Custom Properties */

/* ----------------- */

:root {
  /* -- Font Families -- */
  --playfair-display: 'Playfair Display', serif;
  --poppins: 'Poppins', sans-serif;

  /* -- Colors -- */
  --white: #fff;
  --dark-blue: #1a2236;
  --light-blue: #98dede;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  font-family: var(--poppins);
  color: var(--dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

h1 {
  font-family: var(--playfair-display);
  font-size: 3rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  font: inherit;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------- */

/* Header */

/* ----------------- */

#header {
  position: relative;
}

.shapes {
  width: 30%;
}

#mobile-nav-toggle {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  aspect-ratio: 1;
  background: transparent;
  background-image: url(./assets/images/ic_menu.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* ----------------- */

/* Main */

/* ----------------- */

#main {
  display: flex;
  flex-direction: column;
  height: 65vh;
  gap: 1.5rem;
}

/* -- Main-Text -- */

.main-text {
  padding: 1rem;
  flex-basis: 40%;
}

#main-text-name {
  line-height: 100%;
  margin-bottom: 1.0625rem;
}

#main-text-info {
  font-size: 0.8125rem;
  line-height: 1.3125rem;
  letter-spacing: -0.01em;
  margin-bottom: 1.3725rem;
}

#main-text-btn {
  background-color: var(--dark-blue);
  width: 100%;
  padding: 0.75rem 2.625rem;
  cursor: pointer;
}

#main-text-btn:hover,
#main-text-btn:focus {
  background-color: var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

#main-text-btn:active {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--dark-blue);
}

#start-collab {
  width: 100%;
  margin: auto;
  background-color: transparent;
  color: var(--white);
  font-weight: 500;
}

#main-text-btn:hover #start-collab,
#main-text-btn:focus #start-collab,
#main-text-btn:active #start-collab {
  color: var(--dark-blue);
}

/* -- Main-Bg -- */

.main-bg {
  flex-basis: 40%;
  background-image: url(./assets/images/image_geometry_2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* ------ */

/* Works */

/* ----- */

#projects {
  padding: 1.5rem 1rem;
}

.grid-container {
  display: grid;
}

.grid-top {
  height: 186px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#img-1 {
  background-image: url(./assets/images/Rectangle1.png);
}

#img-2 {
  background-image: url(./assets/images/Rectangle2.png);
}

#img-3 {
  background-image: url(./assets/images/Rectangle3.png);
}

#img-4 {
  background-image: url(./assets/images/Rectangle4.png);
}

#img-5 {
  background-image: url(./assets/images/Rectangle5.png);
}

#img-6 {
  background-image: url(./assets/images/Rectangle6.png);
}

.grid-bottom {
  background-color: var(--dark-blue);
  padding: 1rem;
}

.project-name {
  color: var(--white);
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.stacks {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0;
  margin-bottom: 1.3rem;
}

.stacks > li {
  background-color: var(--light-blue);
  list-style: none;
  font-weight: 300;
  font-size: 10.33px;
  padding: 0.4rem 0.625rem;
}

.project-btn {
  background-color: var(--dark-blue);
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.625rem;
  cursor: pointer;
}

.project-btn > p {
  color: var(--white);
  font-size: 1rem;
}
